<!-- src/app/auth/forgot-password/forgot-password.component.html -->
<div class="auth-container">
    <img src="assets/icons/Logo.svg" alt="Logo" class="logo-img">
    <h2>Forgot Password</h2>
    
    <div class="form-group">
        <p class="form-subtitle">Enter your email address and we'll send you an OTP to reset your password.</p>
        
        <app-textfield type="email" placeholder="Email" [(value)]="forgotPasswordData.email"></app-textfield>
        <div class="error-message" *ngIf="isSubmitted && errors['email']">
            {{ errors['email'] }}
        </div>
        
        <app-button 
            [label]="isLoading ? 'Sending...' : 'Send OTP'" 
            (onClick)="onSubmit()" >
        </app-button>
        
        <div class="back-link">
            <p>Remember your password? <a routerLink="/auth/login">Back to Login</a></p>
        </div>
    </div>
</div>